body{
	background-color:#ffcccc;
}
.column{
  width:300px;
  margin:20px;
  height:100px;
  float:none;
}
#logo{
	width:auto;
	margin-left:275px;
}
#wrapper{
	width:auto;
	margin-left: auto;
	margin-right:auto;
	margin-top: auto;
}
nav{
  background-color:#eee;
  width:30px;
  margin:100px auto;
  padding:20px;
  float:auto;
}
a:link{
  margin:20px;
  text-decoration:none;
  text-transform:uppercase;
  font-family:"Helvetica Neue", sans-serif;
  color:#47153D;
}

a:visited{
  color:inherit;
}

a:hover{
  color:#FFCCCC;
  border-bottom:3px solid #FFCCCC;
  padding:0 0 2px;
}

a:active{
  color:#FA2719;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear: both;
	height: 0;
	font-size: 0;
}
.wrap{
    width:1000px;
    margin: 0 auto;
}
.col3{
    width:300px;
    margin: 15px;
    float:left;
    background-color:#ffcccc;
}
.col3 img{
    width:300px;
    background-color:#ffcccc;
}
#col3_span3{
  margin: 15px 0;
}