
h1{
	font-family: 'Cookie', cursive;
	font-size:50px;
}
body{
	text-align:center;
	background:000;
	image-size: 150px;
	font-family: 'Neuton Extra-Light 200', serif;
}
#services {
	text-align: center;
	font-weight:thin;
	list-style-position: center;
}
#slogan{
	font-style:italic;
}
ul { 
	list-style-type: none; text-align: center;
}
hr{
	width: 240px;
	position:center;
}
p{
	font-size: 20px;
}