body{
	background-color:#ffcccc;
}
h1{
	font-size:30px;
}
h2{
	font-size:30px;
}
.column{
  width:300px;
  margin:20px;
  height:100px;
  float:none;
}
#logo{
	width:auto;
	margin-left:275px;
}
#wrapper{
	width:auto;
	margin-left: auto;
	margin-right:auto;
	margin-top: auto;
}
nav{
	background-color: #ffcccc;
	font-family: "Helvetica Neue", sans-serif;
	float:left;
}
a{
	background-color: #ffcccc;
	color: #000000;
	text-decoration: none;
	display: block;
	float:none;
	padding:15px;
  font-weight: 600;
  float:left;
  margin: 15px;
}
.clearfix: after{
	visibility: hidden;
	display: block;
	content:" ";
	clear: both;
	height: 0;
	font-size: 0;
}
a:hover{
	background-color:#ffffcc;
}
.wrap{
    width:1000px;
    margin: 0 auto;
}
.col2{
    width:400px;
    margin: 15px;
    float:left;
    background-color:#ffcccc;
}
.col2 img{
    width:400px;
    background-color:#ffcccc;
}
#col2_span2{
  margin: 30px 0;
}
footer{
	background-color: #ffcccc;
	font-family: "Helvetica Neue", sans-serif;
	margin:auto;
}