body{
	background-color:#ffcccc;
}
h1{
	font-size:30px;
}
h2{
	font-size:30px;
}
.column{
  width:300px;
  margin:20px;
  height:100px;
  float:none;
}
#logo{
	width:auto;
	margin-left:275px;
}
#wrapper{
	width:auto;
	margin-left: auto;
	margin-right:auto;
	margin-top: auto;
}
nav{
	background-color:#eee;
  	width:30px;
  	margin:100px auto;
  	padding:20px;
  	float:auto;
}
a:link{
  margin:20px;
  text-decoration:none;
  text-transform:uppercase;
  font-family:"Helvetica Neue", sans-serif;
  color:#47153D;
}

a:visited{
  color:inherit;
}

a:hover{
  color:#FFCCCC;
  border-bottom:3px solid #FFCCCC;
  padding:0 0 2px;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear: both;
	height: 0;
	font-size: 0;
}
.wrap{
    width:1000px;
    margin: 0 auto;
}
.col2{
    width:400px;
    margin: 15px;
    float:left;
    background-color:#ffcccc;
}
.col2 img{
    width:400px;
    background-color:#ffcccc;
}
#col2_span2{
  margin: 30px 0;
}
.foot{
    width:1000px;
    margin: 0px auto 20px;
}