* { margin:0; padding:0; box-sizing:border-box; }

body{
  background-color:#fcf0e5;
  text-align:center;
  color:#03084b;
}

nav{
  background-color:#7d130c;
  color:#fcf0e5;
  padding:20px;
  font-size: 1em;
  font-weight: 700;
}

section{

}

div{

}

h1{
  font-family:'Trajan Pro', 'Palatino', serif, bold, uppercase;
  color:#7d130c;
  text-align: center;
}

p1{
  font-family:'Helvetica Neue', sans-serif;
  color:#03084b;
  line-height: 1.75em;
}

p2{
  font-family:'Helvetica Neue', sans-serif;
  color:#fcf0e5;
  line-height: 1.75em;
  font-weight: 200;
}


li{
   list-style-type: none; text-align: center;
 }

 a:link{
  margin:20px;
  text-decoration:none;
  text-transform:none;
  letter-spacing: .09em;
  font-family:"Helvetica Neue", sans-serif;
  font-weight: 100;
  color:#fcf0e5;
}

a:visited{
  color:#fcf0e5;
}

a:hover{
  color:#fcf0e5;
  border-bottom:3px solid #fcf0e5;
  padding:0 0 2px;
}

a:active{
  color:#fcf0e5;
}

#wrap{
  width:auto;
  margin-left: auto;
  margin-right:auto;
  margin-top: auto;   
}

#about > div {
  max-width:1200px;
  margin:  0 auto;
  padding: 40px;
}

#about div div {
  float:left;
  padding: 1em;

  width:50%;
}

#about img {
  float:left;
  padding:1em;
  width:50%;
}

.clearfix:after{
  visibility: hidden;
  display: block;
  content:" ";
  clear: both;
  height: 0;
  font-size: 0;
}

#work > div {
  background-color:#03084b;
  max-width:1200px;
  margin:  0 auto;
}

#work div div {
  float:right;
  padding:1em;
  width:50%;
}

#work img {
  float:left;
  padding:1em;
  width:40%;
}

#book{
  float:left;
  padding:1em;
  margin: 0 auto;
  width:50%;
}

#contact{
  width: 100%;
  display: block;
  margin:  0 auto;
  padding: 4em;
}

.container{
    color:#7d130c;
}

#icons{
  background-color:#7d130c;
  display:inline;
}



#logo{              
  width: 350px;
  display: block;
  margin:  0 auto;
}

#book{
  float:left;
}

#portrait{
  float:right;
}

@media screen and (max-width: 800px){
  
.wrap{
      max-width:100%;
}

#portrait{
  width:25%;
  float:none;
}

#about div div{
    float:none;
    width:100%;
    line-height:.75em;
}

#about img{
  float:none;
  padding:1em;
  width:75%;
}

#work div div {
  float:none;
  width:100%;
  line-height:.75em;
}

#work img {
  float:none;
  padding:1em;
  width:50%;
}

}